@(passwordForm: Form[PasswordData], title: String, user: User)(implicit flash: Flash, messages: Messages)

@import helper._

@import bootstrap.accounts._

@implicitFieldConstructor = @{ FieldConstructor(changePasswordInput.f) }

@styles = {
}

@scripts = {
}

@main(title, styles, scripts, user) {

	@helper.form(routes.Account.updatePassword, 'class -> "form-horizontal") { 
		<div class="alert alert-info">
			Change your password
		</div>
	
		@if(passwordForm.hasGlobalErrors) {
			@passwordForm.globalError.map { error =>
				<div class="alert alert-danger">
					@error.message
				</div>
			}
		} 
	
		@flash.get("success").map { message =>
			<div class="alert alert-success">
				@message
			</div>
		}
	
		@inputPassword(passwordForm("currentPassword"), '_label -> "Current Password", 'class -> "form-control", 'placeholder -> "Current Password")
		@inputPassword(passwordForm("newPassword1"), '_label -> "New Password", 'class -> "form-control", 'placeholder -> "New Password")
		@inputPassword(passwordForm("newPassword2"), '_label -> "Re-enter New Password", 'class -> "form-control", 'placeholder -> "Re-enter New Password")

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-success navbar-btn loginbtn" type="submit"
					name="submit" id="submit">Save</button>
			</div>
		</div>
	}
}



