@(title: String, user: User, searches: List[models.Search])(implicit flash: play.api.mvc.Flash)

@styles = {
	<style>
		.modal-vertical-centered {
			transform: translate(0, 50%) !important;
			-ms-transform: translate(0, 50%) !important; /* IE 9 */
			-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
		}	
	</style>
}

@scripts = {
	<script type="text/javascript">
		$(document).ready(function() {
			$('button[name="delete_search"]').on('click', function(e){
			    var $form = $(this).closest('form'); 
			    e.preventDefault();
			    $('#confirmSearch').modal('show')
			        .on('click', '#deleteSearch', function() {
			        	console.log('delete');
			            $form.trigger('submit'); // submit the form
			        });
			});
			
			$('button[name="search-saved"]').on('click', function(e){
			    e.preventDefault();
			    var id = $(this).attr('id');
			    var url = $(this).parent().find('input[type=hidden]:first').val();
			    window.location.href = url;
			    console.log(url);
			});
		});
		
	</script>
}

@main(title, styles, scripts, user) {

	@flash.get("success").map { message =>
		<div class="alert alert-success">
			@message
		</div>
	}
	<h1>@title</h1>
		
	@if(user != null) {
        <table class="table table-condensed">
        	@for((search, index) <- searches.zipWithIndex) {
				<tr>
	               	<td>
              			<span class="search-name">@(search.name)</span>: @(search.description)<br/>
              			@(search.summary)
	               	</td>
	               	<td>
						<input type="hidden" value="../@(search.url)" name="search-url" />
              		    <button type="button" class="btn btn-danger pull-right" name="search-saved" id="search-@(index)">Search</button>
					</td>
	               	<td>
						@helper.form(routes.Account.deleteSearch(search.id)) {
              		    	<button type="button" data-dismiss="modal" class="btn btn-danger" name="delete_search">Delete</button>
						}
					</td>
	       		</tr>
	        }
		</table>	    
		<div id="confirmSearch" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-vertical-centered">
		    	<div class="modal-content">
		  			<div class="modal-body">
		    			Are you sure?
		  			</div>
		  			<div class="modal-footer">
					    <button type="button" data-dismiss="modal" class="btn btn-danger" id="deleteSearch">Delete</button>
					    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	}
	
}

