@(title: String, user: User, q: String, labelX: String, labelY: String, year_start: String, year_end: String, pageName: String)

@styles = {
}

@scripts = {
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/d3.v3.4.8.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dimple.v2.1.3.min.js")" type="text/javascript"></script>
    
	
	<script type="text/javascript">
	
		$(document).ready(function(){

			
			$('#update').on('click', function() {
				$('form').submit();
				//processChart();
			});
		
			$('#ajax-loader').hide();

			function disableForm() {
				$('#ajax-loader').show();
				$('#query').attr('disabled', 'disabled');
				$('#year-start').attr('disabled', 'disabled');
				$('#year-end').attr('disabled', 'disabled');
				$('#update').attr('disabled', 'disabled');
				$('#reset').attr('disabled', 'disabled');
			}
			
			function enableForm() {
				$('#ajax-loader').hide();
				$('#query').removeAttr('disabled');
				$('#year-start').removeAttr('disabled');
				$('#year-end').removeAttr('disabled');
				$('#update').removeAttr('disabled');
				$('#reset').removeAttr('disabled');
			}
			
			function escapeHtml(unsafe) {
				return unsafe.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
 			}
			
			$("#year-start").val(@(year_start));
			$("#year-end").val(@(year_end));
			
    var svg = dimple.newSvg("#chartContainer", "100%", 300);
    disableForm();
    d3.tsv("@routes.Shiner.trendsTsv(q,year_start,year_end)", function (data) {
	  enableForm();
      var myChart = new dimple.chart(svg, data);
      myChart.setMargins("100px", "30px", "60px", "60px");
      var x = myChart.addCategoryAxis("x", "Date");
      x.addOrderRule("Date");
      var y = myChart.addMeasureAxis("y", "Percentage");
      var yMin = 100.0;
      for( var index = 0; index < data.length; index++) {
        var value = data[index];
        var pc = value["Percentage"];
        if( parseFloat(pc) != 0.0 && parseFloat(pc) < parseFloat(yMin) ) {
          yMin = pc;
        }
      }
      if( yMin < 0.1 ) {
        y.overrideMin = yMin;
      }
      y.tickFormat = ",3.1g";
      var s = myChart.addSeries("Query", dimple.plot.line);
      s.addEventHandler("click", function (e) {
        console.log("Hey, you clicked " + e.seriesValue + ". Woooooo!" + e.xValue +" " + e.yValue +" " + Object.keys(e));
          // Load the sample results:
          $("#samplesTitle").text("Searching for a random sample matching '"+e.seriesValue+"' from "+e.xValue+"...");
      	 $("#samplesTable tr.sample-row").remove();
          $.getJSON('@{routes.Shiner.sampleFromRange()}' + '?query=' + e.seriesValue + '&year=' + e.xValue, function(data) {
           	 $("#samplesTitle").text("Found "+Object.keys(data).length+" samples matching '"+e.seriesValue+"' from "+e.xValue+"...");
        	 $.each(data, function( index, value ) {
        	     if( value.matches.length > 0 ) {
        	         line = "<tr class='sample-row'><td class='fragment-left'><span class='fragment-left-inner'>";
        	         for( i=0; i< value.matches.length; i++ ) {
	        	         line = line + escapeHtml(value.matches[i][0])+"<br/>";
	        	     }
	        	     line = line +"</span></td><td class='fragment-match'><a href='http://web.archive.org/web/"+value.wayback_date+"/"+value.url+"'>";
        	         for( i=0; i< value.matches.length; i++ ) {
	        	         line = line + escapeHtml(value.matches[i][1])+"<br/>";
	        	     }
	        	     line = line + "</a></td><td class='fragment-right'>";
        	         for( i=0; i< value.matches.length; i++ ) {
	        	         line = line + escapeHtml(value.matches[i][2])+"<br/>";
	        	     }
		        	 line = line + "</td></tr>";
		        	 $("#samplesTable").append(line);
		         }
	         });
  		  });
      });
      s.getTooltipText = function (e) {
          var index = e.x - @{year_start};
          var format = d3.format("0,000");
                    
          // And return the tool-tip
          return [
              "\"" + e.aggField[0] + "\"",
              e.yValue.toPrecision(4) + "% of resources ", "(" + format(data[index]["Hits"]) + " of " + format(data[index]["Total Crawled"])+ ")" , "crawled in " + e.x
          ];
      };
      
      myChart.addLegend(100, 10, "100%", 100, "left");
      myChart.draw();

      // Defined a function for toggling the Y axis:      
      togglerFunction = function (e) {
                    if( y.useLog == false ) {
	                    y.useLog = true;
	                } else {
	                    y.useLog = false;
	                }
			        myChart.draw();
     				// Re-attach toggler:
       				y.titleShape.on("click", togglerFunction);
      };

      // Log axis toggler      
      y.titleShape.on("click", togglerFunction);
      
      
    // Add a method to draw the chart on resize of the window
	window.onresize = function () {
    	// As of 1.1.0 the second parameter here allows you to draw
    	// without reprocessing data.  This saves a lot on performance
    	// when you know the data won't have changed.
    	myChart.draw(0, true);
	};
			
      
    });
    
		});
	</script>
}

@main(title, scripts, styles, user, pageName) {

	<!-- Tab panes -->
	<div class="tab-content">
  		<div class="tab-pane active" id="plot">
			<div id="graph-container">
				@helper.form(action=routes.Search.plot_graph()) {
					<div class="row padding-5 text-center">
						<div class="col-md-4">
							<input type="text" class="form-control" name="query" placeholder="Comma separated terms" value="@(q)" id="query" />
						</div>
						<div class="col-md-8">
							<div class="form-inline">
							    <!-- 
							    <div class="form-group">
									<input type="radio" name="interval" value="3month"> <label>3 Month</label>
									<input type="radio" name="interval" value="6month"> <label>6 Month</label>
									<input type="radio" name="interval" value="1year"> <label>1 Year</label>
								</div>							
							     -->
								<div class="form-group">
									<label class="sr-only" for="from-date">From:</label>
									<input type="text" class="form-control field-right" id="year-start" name="year_start">
								</div>
								<div class="form-group">
									<label class="sr-only" for="to-date">To:</label>
									<input type="text" class="form-control field-right" id="year-end" name="year_end">
								</div>
								<button type="submit" class="btn btn-primary" id="update" name="action" value="update">Update Graph</button>
								<button type="reset" class="btn btn-primary button-reset" id="reset" name="action" value="reset">Reset All</button>
								<img id="ajax-loader" src="assets/images/ajax-loader.gif">
							</div>
						</div>
					</div>
			    }
		    	
			<div id="chartContainer">
			</div>
		    	
			</div>
			<table class="table table-striped">
			<thead>
			<th colspan="3" id="samplesTitle">Click on a point on the graph to show a random sample of the matching records from that year...</th>
			</thead>
			<tbody id="samplesTable">
			</tbody>
			</table>
		</div>
  	</div>

}
