version: "2.0"

services:

  # Solr instance for running tests against
  solr:
    image: ukwa/webarchive-discovery-solr
    ports:
      - 8983:8983

  # Shine React
  shine-react:
    build: ../shine-react
    environment:
     - "SOLR_URL=http://solr:8983/solr/discovery"
    ports:
     - 81:80

  # Shine
  shine:
    build: ..
    environment:
     - "SOLR_URL=http://solr:8983/solr/discovery"
    ports:
     - 9000:9000


