@(passwordForm: Form[controllers.Account.PasswordData], title: String, user: User)(implicit flash: play.api.mvc.Flash)

@styles = {
}

@scripts = {
}

@main(title, styles, scripts, user) {

	@helper.form(routes.Account.updatePassword(user.email), 'class -> "form-horizontal") { 
		<div class="alert alert-info">
			Change your password
		</div>
	
		@if(passwordForm.hasGlobalErrors) {
			@passwordForm.globalError.map { error =>
				<div class="alert alert-danger">
					@error.message
				</div>
			}
		} 
	
		@flash.get("success").map { message =>
			<div class="alert alert-success">
				@message
			</div>
		}
	
		<div class="form-group">
			<label for="currentPassword" class="col-sm-2 control-label">Current Password</label>
			<div class="col-sm-10">
			  	@helper.input(passwordForm("currentPassword")) { (id, name, value, args) =>
					<input type="password" name="@name" placeholder="Password" class="form-control" id="@id" @toHtmlArgs(args)>
				}
			</div>
		</div>
		<div class="form-group">
			<label for="newPassword1" class="col-sm-2 control-label">New Password</label>
			<div class="col-sm-10">
			  	@helper.input(passwordForm("newPassword1")) { (id, name, value, args) =>
					<input type="password" name="@name" placeholder="Password" class="form-control" id="@id" @toHtmlArgs(args)>
				}
			</div>
		</div>
		<div class="form-group">
			<label for="newPassword2" class="col-sm-2 control-label">Re-enter New Password</label>
			<div class="col-sm-10">
			  	@helper.input(passwordForm("newPassword2")) { (id, name, value, args) =>
					<input type="password" name="@name" placeholder="Password" class="form-control" id="@id" @toHtmlArgs(args)>
				}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-success navbar-btn loginbtn" type="submit"
					name="submit" id="submit">Save</button>
			</div>
		</div>
	}
}



