@(title: String, user: User, searches: List[Search])(implicit flash: play.api.mvc.Flash)

@styles = {}

@scripts = {}

@main(title, styles, scripts, user) {

	@flash.get("success").map { message =>
		<div class="alert alert-success">
			@message
		</div>
	}
	<h1>@title</h1>
		
	@if(user != null) {
	    <article  class="search">
			@for(search <- searches) {
	            <div class="folder" data-folder-id="@search.id">
	                <header>
	                </header>
	                <ul class="list">
	                	<li>@search.name - @search.url</li>
	                </ul>
	            </div>
	        }
	    </article>
	}
}

