Solr Benchmark Proforma
=======================

Date: 
Description of benchmark: 
Operator: 

Hardware
--------
Machine: 
CPU: 
RAM: 
Storage: 

Solr
----
Version: 
NumShards: 
Shard Xmx: 
DirectoryFactory: 
numFound: 
Commited: 
Optimized: 
