.panel-title {
	font-size: 12px;
}

.padding-20 {
	padding: 20px;
}

.padding-10 {
	padding: 10px;
}

.sort-dropdown {
	margin: 20px 0;
}

#chart-search {
	margin-top: 50px;
}

.field-right {
	text-align:right;
}

.filter-heading {
	min-height: 54px;
}

.filter-heading-title {
	padding-top: 8px;
}

.facet-index {
	padding-left: 15px;
}

.facet-selected {
    background-color: #FFFFFF;
	color: #5CB85C;
}

.facet-deselected {
    background-color: #FFFFFF;
	color: #428BCA;
}