@(title: String, user: User, q: uk.bl.wa.shine.Query, currentPage: uk.bl.wa.shine.Pagination, currentSortBy: String, currentOrder: String, pageName: String, searchForm: Form[SearchData], corpora: List[Corpus], facetLimit: Int, optionalFacets: Map[String, uk.bl.wa.shine.model.FacetValue], cachedFacets: Map[String, uk.bl.wa.shine.model.FacetValue], sortableFacets: List[Object])(implicit flash: Flash, messages: Messages, shineConfig: play.api.Configuration)

@import results._

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui/jquery-ui-1.10.4.custom.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/typeahead.css")">
	
	<style>
		.tt-suggestion.tt-cursor {
			color: #fff;
			background-color: #0097cf;
		}

		.tt-suggestion p {
			margin: 0;
		}
	</style>
}

@scripts = {
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/typeahead.bundle.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			@if(currentSortBy == null || currentSortBy.isEmpty) {
				$('#sort').val('crawl_date');
			} else {
				$('#sort').val('@(currentSortBy)');
			}
	  		$('#order').val('@(currentOrder)');
			$("#date-from").datepicker({ dateFormat: "dd/mm/yy" });
			$("#date-to").datepicker({ dateFormat: "dd/mm/yy" });
			
	  		$('#current-url').text(window.location.search);

			$('#export-message').addClass('hide');

	    	//$('#filter-panel').collapse('show');
	    	
	    	// start of title suggestions
	        var suggestions = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestTitle/%QUERY'
				}
        	});
	        suggestions.initialize();

/*			$('#query').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestions.ttAdapter(),
        	})
            .on('typeahead:selected', function ($e, datum) {
			    console.log('selected');
			    selectedTitle(datum);
			})
            .on('typeahead:cursorchanged', function ($e, datum) {
			    console.log('onCursorchanged');
			    selectedTitle(datum);
			});
*/			 
			function selectedTitle(datum) {
			    searchField = $('#search-result-field').html();
			    var clickedOnValue = datum['name'];
			    var value = replaceLastWord(searchField, clickedOnValue);
			    $('#query').typeahead('val', value);
			}
			
			$('#query').keyup(function(value) {
		    	var searchValue = $('#query').val();
			    $('#search-result-field').html(searchValue);
				//console.log("keyup: " + $('#search-field').html());
			});
	    	// end of title suggestions
			
	    	// start of url suggestions
	        var suggestionsUrl = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestUrl/%QUERY'
				}
        	});
	        suggestionsUrl.initialize();

			$('#url .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsUrl.ttAdapter(),
        	});
			// end of url suggestions

	    	// start of file format suggestions
	        var suggestionsFileFormat = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestFileFormat/%QUERY'
				}
        	});
	        suggestionsFileFormat.initialize();

			$('#file-format .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsFileFormat.ttAdapter(),
        	});
			// end of file format suggestions

			// start of host, domain, public suffix suggestions			
	        var suggestionsHost = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestHost/%QUERY'
				}
        	});
	        var suggestionsDomain = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestDomain/%QUERY'
				}
        	});
	        var suggestionsPublicSuffix = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestPublicSuffix/%QUERY'
				}
        	});
	        
	        suggestionsHost.initialize();
	        suggestionsDomain.initialize();
	        suggestionsPublicSuffix.initialize();
	        
			$('#host-domain-public-suffix .typeahead').typeahead({
				highlight: true
			},
			{
				name: 'linksHosts',
	        	displayKey: 'name',
	        	source: suggestionsHost.ttAdapter(),
        	},
			{
				name: 'linksDomains',
	        	displayKey: 'name',
	        	source: suggestionsDomain.ttAdapter(),
        	},
			{
				name: 'linkPublicSuffixes',
	        	displayKey: 'name',
	        	source: suggestionsPublicSuffix.ttAdapter(),
        	}
			);
			// end of host, domain, public suffix suggestions			
			
	    	// start of links hosts, domains, public suffixes suggestions
	        var suggestionsLinksHosts = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestLinksHosts/%QUERY'
				}
        	});
	        var suggestionsLinksDomains = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestLinksDomains/%QUERY'
				}
        	});
	        var suggestionsLinksPublicSuffixes = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestLinksPublicSuffixes/%QUERY'
				}
        	});
	        
	        suggestionsLinksHosts.initialize();
	        suggestionsLinksDomains.initialize();
	        suggestionsLinksPublicSuffixes.initialize();
	        
			$('#links-to .typeahead').typeahead({
				highlight: true
			},
			{
				name: 'linksHosts',
	        	displayKey: 'name',
	        	source: suggestionsLinksHosts.ttAdapter(),
        	},
			{
				name: 'linksDomains',
	        	displayKey: 'name',
	        	source: suggestionsLinksDomains.ttAdapter(),
        	},
			{
				name: 'linkPublicSuffixes',
	        	displayKey: 'name',
	        	source: suggestionsLinksPublicSuffixes.ttAdapter(),
        	}
			);
	    	// end of links hosts, domains, public suffixes suggestions
			
	    	// start of author (name, company????) suggestions
	        var suggestionsAuthor = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestAuthor/%QUERY'
				}
        	});
	        suggestionsAuthor.initialize();

			$('#author .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsAuthor.ttAdapter(),
        	});
	    	// end of author (name, company????) suggestions

	    	// start of collection suggestions
	        var suggestionsCollection = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestCollection/%QUERY'
				}
        	});
	        suggestionsCollection.initialize();

			$('#collection .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsCollection.ttAdapter(),
        	});
	    	// end of collection suggestions
	    	
	    	function replaceLastWord(str, newStr) {
			   return str.replace(/\w*$/, newStr);
			}
			
			$('.search-field').css('z-index', '0');
			
			$("form :input.search-field[name^='facet.']").each(function(index, element) {
				var name = $(element).attr('name');
				var inputName = "input[name='" + name + "']";
				if (getURLParameter(name) !== undefined) {
					var value = decodeURIComponent(getURLParameter(name)).replace(/"/g, "").replace("+", " ");
					//console.log(value);
					$(inputName).val(value);
				}
			});

			$('#search').click(function(event) {
				$("form :input.search-field[name^='facet.']").each(function(index, element) {
					var value = $(element).val();
					if (value) {
						value = '"' + $(element).val() + '"';
						$(element).val(value);
						console.log(value);
					}
				});
				
				doSearch();
			});

			function doSearch() {
				if($("#search-form").valid()) {
					console.log('no errors');
					$('input', '#search-form').each(function(){
					    $(this).val() == "" && $(this).prop("disabled", true);
					})

					processSelectedResources();
					
				    $('#action').prop("disabled", false).val('search');

					modalLoader();
				    // add to parameters then submit
				    // &facet.fields=postcode_district
				    
					$('#search-form').submit();					
				}
			}
			function createSummary() {
				
				if($('#query').val() != '') {
					var $value = $('<li class="summary-li">').html("Search Term(s): " + $("#query").val());
					$('#search-summary').append($value);
				}				
				if($('#website-title-field').val() != '') {
					var $value = $('<li class="summary-li">').html("Website Title: " + $("#website-title-field").val());
					$('#search-summary').append($value);
				}				
				if($('#page-title-field').val() != '') {
					var $value = $('<li class="summary-li">').html("Page Title: " + $("#page-title-field").val());
					$('#search-summary').append($value);
				}				
				if($('#author-field').val() != '') {
					var $value = $('<li class="summary-li">').html("Author: " + $("#author-field").val());
					$('#search-summary').append($value);
				}				
				/*if($('#url-field').val() != '') {
					var $value = $('<li class="summary-li">').html("URL: " + $("#url-field").val());
					$('#search-summary').append($value);
				}*/				
				if($('#file-format-field').val() != '') {
					var $value = $('<li class="summary-li">').html("File Format: " + $("#file-format-field").val());
					$('#search-summary').append($value);
				}
				@if(shineConfig.getBoolean("show_collections_field").getOrElse(false)) {
					if($('#collection-field').val() != '') {
						var $value = $('<li class="summary-li">').html("Collection: " + $("#collection-field").val());
						$('#search-summary').append($value);
					}
				}
				if($('#proximityPhrase1').val() != '' || $('#proximityPhrase2').val() != '' || $('#proximity').val() != '') {
					var $value = $('<li class="summary-li">').html("Proximity: " + $("#proximityPhrase1").val() + " " + $("#proximityPhrase2").val() + " " + $("#proximity").val());
					$('#search-summary').append($value);
				}				
				if($('#date-from').val() != '' || $('#date-to').val() != '') {
					var $value = $('<li class="summary-li">').html("Date Range: " + $("#date-from").val() + " - " + $("#date-to").val());
					$('#search-summary').append($value);
				}				
				if($('#exclude-field').val() != '') {
					var $value = $('<li class="summary-li">').html("None of these words: " + $("#exclude-field").val());
					$('#search-summary').append($value);
				}				
				if($('#host-domain-public-field').val() != '') {
					var $value = $('<li class="summary-li">').html("Host, Domain or Public Suffix: " + $("#host-domain-public-field").val());
					$('#search-summary').append($value);
				}				
				/*if($('#url-host-domain-public-field').val() != '') {
					var $value = $('<li class="summary-li">').html("URL, Host, Domain or Public Suffix: " + $("#url-host-domain-public-field").val());
					$('#search-summary').append($value);
				}*/
				if ($('#search-summary').html().trim().length > 0) {
					$('#summary').removeClass('hide');
				}
				
				$('ul.facet-heading').each(function(index) {
					
					// check form fields
					var facet_options = $(this).find('li.facet-options');
					
					var total = facet_options.length;

					var facet_main = $(this).parent().parent().find('div.facet-main');
					var name = "";
					var values = "";
					var facetValue = facet_main.find('input[type=hidden]:first').val();
					var invert = facet_main.find('input[type=hidden]:last').val();
					
					console.log(facetValue + "/" + facetValue.length + " - " + invert + "/" + invert.length);
					
					// +/-
					facet_options.each(function(index) {
						if (name.length == 0) {
							name = facet_main.find('a strong').html();
							//console.log(name);
							// inverted
							if (facetValue != '' && invert != '' && facetValue == invert) {
								line = name + ": (Exclude) ";
							} else {
								line = name + ": (Include) ";
							}
						}
						var facet_option = $(this);
						
						var include = facet_option.find('input.include');
						var exclude = facet_option.find('input.exclude');

						if (include.attr('checked')) {
							var value = include.val();
							values += value + " ";
						}
						if (exclude.attr('checked')) {
							var value = exclude.val();
							values += value + " ";
						}
					    if (index === total - 1 && values.length > 0) {
					    	line += values;
							summary = $('<li class="summary-li">').html(line);
							$('#search-summary').append(summary);
					    }

					});
				});
				
				createSummaryExclusions();

			}
			
			@if(q.res.getResults().isEmpty()) {
				console.log('no results');
				$('#summary').addClass('hide');
		    	$('#filter-panel').collapse('show');
			} else {
				console.log('got results');
				createSummary();
			}
			
			//paging();
			
			function paging() {
				$('.paging').each(function() {
					var $link = $(this);
					//console.log($link);
					var currentUrl = window.location.search;
					//console.log(currentUrl);
					// remove page number and add the others
					var page = 1;
					if (typeof $link.attr('id') !== "undefined") {
						//console.log($link.attr('id'));
						page = $link.attr('id').split('-')[1];
					} else {
						page = 1;
						currentUrl += "&page=" + page;
					}
					// replace page parameter
					var regEx = /page=\d+/;
					var newUrl = currentUrl.replace(regEx, "page=" + page);
					console.log(newUrl);
//					$link.attr('href', newUrl);
				});
			}
			
			function actionButtons() {
				$('.excludeButton').on('click', function(event) {
					event.preventDefault();
					$('input.resource').each(function() {
						$(this).attr('name', 'exclude');
					});
					doSearch();
				});
				$('.excludeHostButton').on('click', function(event) {
					event.preventDefault();
					console.log('exclude host');
					$('input.resource').each(function() {
						var host = $(this).attr('host');
						$(this).val(host);
						$(this).attr('name', 'excludeHost');
					});
					doSearch();
				});
			}
			
			resetFacets();
			facetOptions();
			showFacets();
//			saveSearch();
			applyInverts();
			
			searchTabs();
			validateAdvancedSearchForm();
			saveAdvancedSearch();
			saveCorpus();
			csvLink();
			resetExcluded();
			actionButtons();
			applyShowMoreLinks();
		});
	</script>
}

@main(title, styles, scripts, user, pageName) {

	@searchTabs("advanced_search")

	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="padding-20">
				@if(searchForm.hasGlobalErrors) {
					@searchForm.globalError.map { error =>
						<div class="alert alert-danger">
							@error.message
						</div>
					}
				} 
	
				@flash.get("success").map { message =>
					<div class="alert alert-success">
						@message
					</div>
				}
		
		
				<div class="padding-20">
					<a data-toggle="collapse" data-parent="#accordion" href="#filter-panel" class="btn btn-primary"><span id="toggle">&#9660; Filters &#9650;</span></a>
				</div>
			
				@helper.form(action=routes.Search.advanced_search(), 'class -> "form-horizontal", 'id -> "search-form") {
					<div id="filter-panel" class="panel-collapse collapse">
						<div class="row">
	          				@if(!q.res.getResults().isEmpty()) {
								<div class="col-md-4 col-sm-4">
									@facets(user, q, currentPage, facetLimit, optionalFacets, cachedFacets, sortableFacets, corpora)
								</div>
								<div class="col-md-8 col-sm-8">			
									@advancedSearchFilters(user, q, searchForm)
								</div>
							} else {
								<div class="col-md-12 col-sm-12">
									@advancedSearchFilters(user, q, searchForm)
								</div>
							}
						</div>
					</div>						
					
					<div class="padding-20" id="summary">
						<div class="alert alert-info">
							<ul id="search-summary">
							</ul>
						</div>
						<div class="alert alert-danger alert-dismissible" id="export-message" role="alert">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						</div>
					</div>
					
					<div class="padding-20 hide" id="max-view-reached">
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							Maximum number of results reached
						</div>
					</div>
	
					@resultsTabs("results")
								
					<div class="padding-20">
						<div id="results">@advancedResultsPage(user, q, currentPage, currentSortBy, currentOrder)</div>
						<div id="concordance">@advancedConcordancePage(user, q, currentPage, currentSortBy, currentOrder)</div>
					</div>
				}
			</div>
		</div>
	</div>
	<input type="hidden" id="export_url" value="@routes.Search.export()">
	
	@saveSearchModal()
	@modalLoader()
	@saveCorpusModal(corpora)
	
}
