@(q: uk.bl.wa.shine.Query, currentPage: uk.bl.wa.shine.Pagination, currentSortBy: String, currentOrder: String)

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui/jquery-ui-1.10.4.custom.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@scripts = {
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#sort').val('@(currentSortBy)')
	  		$('#order').val('@(currentOrder)')
			$("#date-from").datepicker({ dateFormat: "dd/mm/yy" });
			$("#date-to").datepicker({ dateFormat: "dd/mm/yy" });
			
			if(@(currentPage.getTotalItems == 0)) {
		    	console.log("results: " + @(q.res.getResults().size()))
		    	$('#filter-panel').collapse('show');
		    }
	    	$('#filter-panel').collapse('show');
	    	
			var searchResults = [];
	        $("#full-text-field").typeahead({
	            minLength: 2,
	            remote: {
	    			url: '/suggest/%QUERY',
	    			filter: function(items) {
	    	          	return items;
	    			}
	    		}
	    	}).on('typeahead:selected', function(event, datum) {
	    		event.preventDefault();
	    		console.log($(this).val() + " " + datum);
	    	});
		});
	    
	    
	</script>
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(pageNo:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Application.advanced_search(q.query, pageNo, sortBy, order)
    
}

@pagination = {
	<div class="text-center">
		<ul class="pagination">
			@if(currentPage.hasPreviousPage) {
            	<li class="prev">
            		<a href="@link(currentPage.getCurrentPage-1, null)">&laquo;</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&laquo;</a>
                </li>
            }
			@for(index <- currentPage.getPagesList) {
				@if(index == currentPage.getCurrentPage) {
					@if(index == currentPage.getMaxViewablePages) {
						<span class="max-viewable-reached hide"></span>
					}
					<li class="active current"><a href="@link(index, null)">@(index) <span class="sr-only">(current)</span></a></li>
				} else {
					<li><a href="@link(index, null)">@(index)</a></li>
				}
			}
        	@if(currentPage.hasNextPage && !currentPage.hasMaxViewablePagedReached) {
                <li class="next">
                    <a href="@link(currentPage.getCurrentPage+1, null)">&raquo;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a>&raquo;</a>
                </li>
			}
		</ul>
	</div>
}

@main(q.query, styles, scripts) {

	<ul class="nav nav-tabs">
		<li><a href="@routes.Application.search()">Search</a></li>
		<li class="active"><a href="#">Advanced Search</a></li>
	</ul>

	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="padding-20">
		
				<div class="padding-20">
					<a data-toggle="collapse" data-parent="#accordion" href="#filter-panel" class="btn btn-primary"><span id="toggle">&#9660; Filters &#9650;</span></a>
				</div>
			
				@helper.form(action=routes.Application.advanced_search(), 'class -> "form-horizontal") {
			
				<div id="filter-panel" class="panel-collapse collapse">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="option1" class="col-sm-2 control-label">
									Full Text Search:
								</label>
								<div class="col-sm-6">
									<input type="text" class="form-control search-field" name="query" value="@(q.query)" id="full-text-field" />
								</div>
								<div class="col-sm-4">
									<p class="text-success">Full Text Search</p>
								</div>
							</div>
							<div class="form-group">
								<label for="option2" class="col-sm-2 control-label">
									Date Range:
								</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="date-from" placeholder="dd/mm/yyyy">
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="date-to" placeholder="dd/mm/yyyy">
								</div>
								<div class="col-sm-4">
									<p class="text-success">help text here</p>
								</div>
							</div>
							<div class="form-group">
								<label for="option3" class="col-sm-2 control-label">
									Option 3:
								</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="option3" placeholder="Option 3">
								</div>
								<div class="col-sm-4">
									<p class="text-success">help text here</p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-primary" name="action" value="search">Search</button>
									<button type="reset" class="btn btn-primary" name="action" value="reset" id="reset">Reset</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
					<div class="padding-20 hide" id="max-view-reached">
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							Maximum number of results reached
						</div>
					</div>
								
					<div class="panel panel-default">
						<div class="panel-heading filter-heading">
		                    <h4 class="panel-title pull-left filter-heading-title">
		                        Results @currentPage.getDisplayXtoYofZ(" to "," of ")
		                    </h4>
		                    <div class="form-inline pull-right">
								<div class="form-group">
									<select class="form-control" name="sort" id="sort">
										<option value="content_type_norm">Title</option>
										<option value="crawl_date">Crawl Date</option>
										<option value="content_type_norm">Content</option>
										<option value="domain">Domain</option>
										<option value="sentiment_score">Score</option>
									</select>
								</div>
								<div class="form-group">
									<select class="form-control" name="order" id="order">
										<option value="asc">Asc</option>
										<option value="desc">Desc</option>
									</select>
								</div>
							</div>
						</div>
		
						<div class="panel-body">
							@pagination
		
							@for((d, index) <- q.res.getResults().zipWithIndex) {
								<div class="list-group">
									<span class="list-group-item" href="#">
										<h4 class="list-group-item-heading">@(currentPage.getNextIndex(index)) <a href="http://web.archive.org/web/@(d.getFirstValue("wayback_date"))/@(d.getFirstValue("url"))">"@d.getFirstValue("title")"</a></h4>
										<p class="list-group-item-text">
												@d.getFirstValue("crawl_date")<br />
												@d.getFirstValue("content_type_norm")<br />
												@d.getFirstValue("domain")<br />
												@d.getFirstValue("sentiment_score")
										</p>
									</span>
								</div>
							}
		
							@pagination
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}
