@(title: String, user: User, q: uk.bl.wa.shine.Query, currentPage: uk.bl.wa.shine.Pagination, currentSortBy: String, currentOrder: String, pageName: String, advancedForm: Form[controllers.Search.AdvancedData])(implicit flash: Flash, lang: play.api.i18n.Lang)

@import helper._
@import bootstrap.advanced._

@implicitFieldConstructor = @{ FieldConstructor(genericInput.f) }

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui/jquery-ui-1.10.4.custom.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
	
	<style>
		.tt-suggestion.tt-cursor {
			color: #fff;
			background-color: #0097cf;
		}

		.tt-suggestion p {
			margin: 0;
		}
	</style>
}

@scripts = {
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/typeahead.bundle.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#sort').val('@(currentSortBy)')
	  		$('#order').val('@(currentOrder)')
			$("#date-from").datepicker({ dateFormat: "dd/mm/yy" });
			$("#date-to").datepicker({ dateFormat: "dd/mm/yy" });

	    	//$('#filter-panel').collapse('show');
	    	
	    	// start of title suggestions
	        var suggestions = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestTitle/%QUERY'
				}
        	});
	        suggestions.initialize();

			$('#full-text-field').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestions.ttAdapter(),
        	})
            .on('typeahead:selected', function ($e, datum) {
			    console.log('selected');
			    selectedTitle(datum);
			})
            .on('typeahead:cursorchanged', function ($e, datum) {
			    console.log('onCursorchanged');
			    selectedTitle(datum);
			});
			 
			function selectedTitle(datum) {
			    searchField = $('#search-result-field').html();
			    var clickedOnValue = datum['name'];
			    var value = replaceLastWord(searchField, clickedOnValue);
			    $('#full-text-field').typeahead('val', value);
			}
			
			$('#full-text-field').keyup(function(value) {
		    	var searchValue = $('#full-text-field').val();
			    $('#search-result-field').html(searchValue);
				console.log("keyup: " + $('#search-field').html());
			});
	    	// end of title suggestions
			
	    	// start of url suggestions
	        var suggestionsUrl = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestUrl/%QUERY'
				}
        	});
	        suggestionsUrl.initialize();

			$('#url .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsUrl.ttAdapter(),
        	});
			// end of url suggestions

	    	// start of file format suggestions
	        var suggestionsFileFormat = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestFileFormat/%QUERY'
				}
        	});
	        suggestionsFileFormat.initialize();

			$('#file-format .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsFileFormat.ttAdapter(),
        	});
			// end of file format suggestions

			// start of host, domain, public suffix suggestions			
	        var suggestionsHost = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestHost/%QUERY'
				}
        	});
	        var suggestionsDomain = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestDomain/%QUERY'
				}
        	});
	        var suggestionsPublicSuffix = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestPublicSuffix/%QUERY'
				}
        	});
	        
	        suggestionsHost.initialize();
	        suggestionsDomain.initialize();
	        suggestionsPublicSuffix.initialize();
	        
			$('#host-domain-public-suffix .typeahead').typeahead({
				highlight: true
			},
			{
				name: 'linksHosts',
	        	displayKey: 'name',
	        	source: suggestionsHost.ttAdapter(),
        	},
			{
				name: 'linksDomains',
	        	displayKey: 'name',
	        	source: suggestionsDomain.ttAdapter(),
        	},
			{
				name: 'linkPublicSuffixes',
	        	displayKey: 'name',
	        	source: suggestionsPublicSuffix.ttAdapter(),
        	}
			);
			// end of host, domain, public suffix suggestions			
			
	    	// start of links hosts, domains, public suffixes suggestions
	        var suggestionsLinksHosts = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestLinksHosts/%QUERY'
				}
        	});
	        var suggestionsLinksDomains = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestLinksDomains/%QUERY'
				}
        	});
	        var suggestionsLinksPublicSuffixes = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestLinksPublicSuffixes/%QUERY'
				}
        	});
	        
	        suggestionsLinksHosts.initialize();
	        suggestionsLinksDomains.initialize();
	        suggestionsLinksPublicSuffixes.initialize();
	        
			$('#links-to .typeahead').typeahead({
				highlight: true
			},
			{
				name: 'linksHosts',
	        	displayKey: 'name',
	        	source: suggestionsLinksHosts.ttAdapter(),
        	},
			{
				name: 'linksDomains',
	        	displayKey: 'name',
	        	source: suggestionsLinksDomains.ttAdapter(),
        	},
			{
				name: 'linkPublicSuffixes',
	        	displayKey: 'name',
	        	source: suggestionsLinksPublicSuffixes.ttAdapter(),
        	}
			);
	    	// end of links hosts, domains, public suffixes suggestions
			
	    	// start of author (name, company????) suggestions
	        var suggestionsAuthor = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestAuthor/%QUERY'
				}
        	});
	        suggestionsAuthor.initialize();

			$('#author .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsAuthor.ttAdapter(),
        	});
	    	// end of author (name, company????) suggestions

	    	// start of collection suggestions
	        var suggestionsCollection = new Bloodhound({
	        	datumTokenizer: function(d) { return d.tokens; },
	        	queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url : '/suggestCollection/%QUERY'
				}
        	});
	        suggestionsCollection.initialize();

			$('#collection .typeahead').typeahead({
				highlight: true
			},
			{
	        	displayKey: 'name',
	        	source: suggestionsCollection.ttAdapter(),
        	});
	    	// end of collection suggestions
	    	
	    	function replaceLastWord(str, newStr) {
			   return str.replace(/\w*$/, newStr);
			}
			
			$('.search-field').css('z-index', '0');
			
			$("form :input.search-field[name^='facet.']").each(function(index, element) {
				var name = $(element).attr('name');
				var inputName = "input[name='" + name + "']";
				if (getURLParameter(name) !== undefined) {
					var value = decodeURIComponent(getURLParameter(name)).replace(/"/g, "").replace("+", " ");
					//console.log(value);
					$(inputName).val(value);
				}
			});

			$('#search').click(function(event) {
				$("form :input.search-field[name^='facet.']").each(function(index, element) {
					var value = $(element).val();
					if (value) {
						value = '"' + $(element).val() + '"';
						$(element).val(value);
						console.log(value);
					}
				});
				
				//console.log(values);
				$('input', '#search-form').each(function(){
				    $(this).val() == "" && $(this).attr("disabled", "disabled");
				})
				$('#search-form').submit();

			});
			
			createSummary();
			
			function createSummary() {
				
				if($('#full-text-fiel').val() != '') {
					var $value = $('<li>').html("Search Term(s): " + $("#full-text-fiel").val());
					$('#search-summary').append($value);
				}				
				if($('#website-title-field').val() != '') {
					var $value = $('<li>').html("Website Title: " + $("#website-title-field").val());
					$('#search-summary').append($value);
				}				
				if($('#page-title-field').val() != '') {
					var $value = $('<li>').html("Page Title: " + $("#page-title-field").val());
					$('#search-summary').append($value);
				}				
				if($('#name-field').val() != '') {
					var $value = $('<li>').html("Name (personal and corporate): " + $("#name-field").val());
					$('#search-summary').append($value);
				}				
				if($('#url-field').val() != '') {
					var $value = $('<li>').html("URL: " + $("#url-field").val());
					$('#search-summary').append($value);
				}				
				if($('#file-format-field').val() != '') {
					var $value = $('<li>').html("File Format: " + $("#file-format-field").val());
					$('#search-summary').append($value);
				}
				@if(showOption("show_collections_field")) {
					if($('#collection-field').val() != '') {
						var $value = $('<li>').html("Collection: " + $("#collection-field").val());
						$('#search-summary').append($value);
					}
				}
				if($('#proximity-field-1').val() != '' || $('#proximity-field-2').val() != '' || $('#proximity').val() != '') {
					var $value = $('<li>').html("Proximity: " + $("#proximity-field-1").val() + " " + $("#proximity-field-2").val() + " " + $("#proximity").val());
					$('#search-summary').append($value);
				}				
				if($('#date-from').val() != '' || $('#date-to').val() != '') {
					var $value = $('<li>').html("Date Range: " + $("#date-from").val() + " - " + $("#date-to").val());
					$('#search-summary').append($value);
				}				
				if($('#exclude-field').val() != '') {
					var $value = $('<li>').html("None of these words: " + $("#exclude-field").val());
					$('#search-summary').append($value);
				}				
				if($('#host-domain-public-field').val() != '') {
					var $value = $('<li>').html("Host, Domain or Public Suffix: " + $("#host-domain-public-field").val());
					$('#search-summary').append($value);
				}				
				/*if($('#url-host-domain-public-field').val() != '') {
					var $value = $('<li>').html("URL, Host, Domain or Public Suffix: " + $("#url-host-domain-public-field").val());
					$('#search-summary').append($value);
				}*/
				if ($('#search-summary').html().trim().length > 0) {
					$('#summary').removeClass('hide');
				}
			}
			
			@if(q.res.getResults().isEmpty()) {
				console.log('no results');
		    	$('#filter-panel').collapse('show');
				//$('#filter-panel').removeClass('in').removeClass('collapse').add('collapsing').removeClass('collapsing').addClass('collapse');
			}
			
			//paging();

			function paging() {
				$('.paging').each(function() {
					var $link = $(this);
					//console.log($link);
					var currentUrl = window.location.search;
					//console.log(currentUrl);
					// remove page number and add the others
					var page = 1;
					if (typeof $link.attr('id') !== "undefined") {
						//console.log($link.attr('id'));
						page = $link.attr('id').split('-')[1];
					} else {
						page = 1;
						currentUrl += "&page=" + page;
					}
					// replace page parameter
					var regEx = /page=\d+/;
					var newUrl = currentUrl.replace(regEx, "page=" + page);
					console.log(newUrl);
//					$link.attr('href', newUrl);
				});
			}
		});
	</script>
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(pageNo:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Search.advanced_search(q.query, pageNo, sortBy, order)
    
}

@pagination = {
	@if(currentPage.getTotalItems > 0) {
		<div class="text-center paging-tabs">
			<ul class="pagination">
				@if(currentPage.hasPreviousPage) {
	            	<li class="prev">
	            		<a href="@link(currentPage.getCurrentPage-1, null)@(q.responseParameters)" id="page-@(currentPage.getCurrentPage-1)" class="paging">&laquo;</a>
	                </li>
	            } else {
	                <li class="prev disabled">
	                    <a class="paging">&laquo;</a>
	                </li>
	            }
				@for(index <- currentPage.getPagesList) {
					@if(index == currentPage.getCurrentPage) {
						@if(index == currentPage.getMaxViewablePages) {
							<span class="max-viewable-reached hide"></span>
						}
						<li class="active current" id="list-@(index)"><a href="#" class="paging" id="page-@(index)">@(currentPage.getCurrentPage) <span class="sr-only">(current)</span></a></li>
					} else {
						<li id="list-@(index)"><a href="@link(index, null)@(q.responseParameters)" id="page-@(index)" class="paging">@(index)</a></li>
					}
				}
	        	@if(currentPage.hasNextPage && !currentPage.hasMaxViewablePagedReached) {
	                <li class="next" id="list-@(index)">
	                    <a href="@link(currentPage.getCurrentPage+1, null)@(q.responseParameters)" id="page-@(currentPage.getCurrentPage+1)" class="paging">&raquo;</a>
	                </li>
	            } else {
	                <li class="next disabled">
	                    <a class="paging">&raquo;</a>
	                </li>
				}
			</ul>
		</div>
	}
}

@showOption(tab: String) = @{
	play.api.Play.current.configuration.getConfig("shine") match {
	      case Some(config) => { 
	      	config.getBoolean(tab) match {
				case Some(option) => { option.asInstanceOf[Boolean] }
				case None => { false } 
			}
	      }
	      case None => { false } 
	}
}

@main(title, styles, scripts, user, pageName) {

	@searchTabs("advanced_search")

	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="padding-20">
				@if(advancedForm.hasGlobalErrors) {
					@advancedForm.globalError.map { error =>
						<div class="alert alert-danger">
							@error.message
						</div>
					}
				} 
	
				@flash.get("success").map { message =>
					<div class="alert alert-success">
						@message
					</div>
				}
		
		
				<div class="padding-20">
					<a data-toggle="collapse" data-parent="#accordion" href="#filter-panel" class="btn btn-primary"><span id="toggle">&#9660; Filters &#9650;</span></a>
				</div>
			
				@helper.form(action=routes.Search.advanced_search(), 'class -> "form-horizontal", 'id -> "search-form") {
			
				<div id="filter-panel" class="panel-collapse collapse">
					<div class="panel panel-default">
						<div class="panel-heading filter-heading">
		                    <h4 class="panel-title pull-left filter-heading-title">
		                    	Search For
		                    </h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									@helper.inputText(advancedForm("query"),
										'_label -> "Search Terms:",
									    'id -> "full-text-fiel",
									    'class -> "form-control",
									    'placeholder -> "<TEXT FIELD>, <MATCH TYPE>",
									    '_error -> advancedForm("query").error.map(_.withMessage("Enter Query"))
									)(FieldConstructor(fullSearchInput.f), lang)
								
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">
											Proximity:
										</label>
										@helper.inputText(advancedForm("proximityPhrase1"),
										    'id -> "proximity-field-1",
										    'class -> "form-control search-field",
										    'placeholder -> "phrase",
										    '_error -> advancedForm("proximityPhrase1").error.map(_.withMessage("Enter Proximity Values"))
										)(FieldConstructor(proximityInput.f), lang)

										@helper.inputText(advancedForm("proximityPhrase2"),
										    'id -> "proximity-field-2",
										    'class -> "form-control search-field",
										    'placeholder -> "phrase",
										    '_error -> advancedForm("proximityPhrase2").error.map(_.withMessage("Enter Proximity Values"))
										)(FieldConstructor(proximityInput.f), lang)

										@helper.inputText(advancedForm("proximity"),
										    'id -> "proximity",
										    'class -> "form-control search-field",
										    'placeholder -> "25",
										    '_error -> advancedForm("proximityPhrase1").error.map(_.withMessage("Enter Proximity Values"))
										)(FieldConstructor(proximityInput.f), lang)
										<div class="col-sm-4">
											<p class="text-success">If you wish to search for word that appear together, try a proximity search. For example, the following finds resources where the words 'coffee' and 'java' occur within 25 words of each other.</p>
										</div>
									</div>
									
									<div class="form-group">
										@inputText(advancedForm("exclude"), '_label -> "None of these words:", 'class -> "form-control", 'placeholder -> "rodent, Jack Russell", 'id -> "exclude-field")
										<div class="col-sm-4">
											<p class="text-success">Words you wanted excluded from the URL</p>
										</div>
									</div>											
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading filter-heading">
		                    <h4 class="panel-title pull-left filter-heading-title">
		                    	Within Resources
		                    </h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="option2" class="col-sm-2 control-label">
											Date Range:
										</label>
										@helper.inputDate(advancedForm("dateStart"),
										    'id -> "date-from",
										    'class -> "form-control search-field",
										    'placeholder -> "dd/mm/yyyy",
										    '_error -> advancedForm("dateStart").error.map(_.withMessage("Enter Date Ranges"))
										)(FieldConstructor(dateInput.f), lang)
										@helper.inputDate(advancedForm("dateEnd"),
										    'id -> "date-to",
										    'class -> "form-control search-field",
										    'placeholder -> "dd/mm/yyyy",
										    '_error -> advancedForm("dateEnd").error.map(_.withMessage("Enter Date Ranges"))
										)(FieldConstructor(dateInput.f), lang)
										<div class="col-sm-4">
											<p class="text-success">Restrict by date (Format: dd/mm/yyyy)</p>
										</div>
									</div>
									<div class="form-group">
										@inputText(advancedForm("url"), '_label -> "URL:", 'class -> "form-control", 'placeholder -> "URL", 'id -> "url-field")
										<div class="col-sm-4">
											<p class="text-success">URL</p>
										</div>
									</div>
									<div class="form-group">
										@inputText(advancedForm("hostDomainPublicSuffix"), '_label -> "Host, Domain or Public Suffix:", 'class -> "form-control", 'placeholder -> "Host, Domain or Public Suffix", 'id -> "host-domain-public-field")
										<div class="col-sm-4">
											<p class="text-success">Match the values in the 'host', 'domain' or 'public_suffix' fields</p>
										</div>
									</div>
									<div class="form-group">
										@inputText(advancedForm("fileFormat"), '_label -> "File Format:", 'class -> "form-control", 'placeholder -> "File Format", 'id -> "file-format-field")
										<div class="col-sm-4">
											<p class="text-success">File format</p>
										</div>
									</div>
									<div class="form-group">
										@inputText(advancedForm("websiteTitle"), '_label -> "Website Title:", 'class -> "form-control", 'placeholder -> "Website Title", 'id -> "website-title-field")
										<div class="col-sm-4">
											<p class="text-success">Website title</p>
										</div>
									</div>
									<div class="form-group">
										@inputText(advancedForm("pageTitle"), '_label -> "Page Title:", 'class -> "form-control", 'placeholder -> "Page Title", 'id -> "page-title-field")
										<div class="col-sm-4">
											<p class="text-success">Page title</p>
										</div>
									</div>
									<div class="form-group">
										@inputText(advancedForm("author"), '_label -> "Author:", 'class -> "form-control", 'placeholder -> "Author", 'id -> "name-field")
										<div class="col-sm-4">
											<p class="text-success">Author</p>
										</div>
									</div>

									@if(showOption("show_collections_field")) {
										<div class="form-group">
											@inputText(advancedForm("collection"), '_label -> "Collection:", 'class -> "typeahead form-control search-field", 'placeholder -> "Collection", 'id -> "collection-field")
											<div class="col-sm-4">
												<p class="text-success">Collection</p>
											</div>
										</div>
									}
									<!-- 
									<div class="form-group">
										<label for="option3" class="col-sm-2 control-label">
											URL, Host, Domain or Public Suffix
										</label>
										<div class="col-sm-6" id="links-to">
											<input type="text" class="typeahead form-control search-field" name="facet.in.links_hosts" placeholder="URL, Host, Domain or Public Suffix" value="@(q.urlHostDomainPublicSuffix)" id="url-host-domain-public-field">
										</div>
										<div class="col-sm-4">
											<p class="text-success">Match the values in the 'url', 'host', 'domain' or 'public_suffix' fields.</p>
										</div>
									</div>
									 -->
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="button" class="btn btn-primary" name="action" value="search" id="search">Search</button>
											<button type="reset" class="btn btn-primary" name="action" value="reset" id="reset">Reset</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
				
				<div class="padding-20 hide" id="summary">
					<div class="alert alert-info">
						<ul id="search-summary">
						</ul>
					</div>
				</div>
				
				<div class="padding-20 hide" id="max-view-reached">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						Maximum number of results reached
					</div>
				</div>
								
				<div class="panel panel-default">
					<div class="panel-heading filter-heading">
	                    <h4 class="panel-title pull-left filter-heading-title" id="result-header">
	                        Results @currentPage.getDisplayXtoYofZ(" to "," of ")
	                    </h4>
	                    <div class="form-inline pull-right">
							<div class="form-group">
								<select class="form-control" name="sort" id="sort">
									<option value="content_type_norm">Title</option>
									<option value="crawl_date">Crawl Date</option>
									<option value="content_type_norm">Content</option>
									<option value="domain">Domain</option>
									<option value="sentiment_score">Score</option>
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" name="order" id="order">
									<option value="asc">Asc</option>
									<option value="desc">Desc</option>
								</select>
							</div>
						</div>
					</div>
					@if(!q.res.getResults().isEmpty()) {
						<div class="panel-body">
							@pagination
		
							@for((d, index) <- q.res.getResults().zipWithIndex) {
								<div class="list-group">
									<span class="list-group-item" href="#">
										<h4 class="list-group-item-heading">@(currentPage.getNextIndex(index)) 
											<a href="http://web.archive.org/web/@(d.getFirstValue("wayback_date"))/@(d.getFirstValue("url"))">
												"@d.getFirstValue("title")"
											</a>
										</h4>
										<div class="checkbox pull-right">
											<input type="checkbox" name="exclude" value="@d.getFirstValue("id_long")">
										</div>
										<p class="list-group-item-text">
												@d.getFirstValue("crawl_date")<br />
												@d.getFirstValue("content_type_norm")<br />
												@d.getFirstValue("domain")<br />
												@d.getFirstValue("author")<br />
												@d.getFirstValue("sentiment_score")
										</p>
									</span>
								</div>
							}
		
							@pagination
						</div>
					}
				</div>
				}
			</div>
		</div>
	</div>
}
