@(q: uk.bl.wa.shine.Query, currentPage: uk.bl.wa.shine.Pagination, currentSortBy: String, currentOrder: String, facetLimit: Int)

@scripts = {
	<script type="text/javascript">
		$(document).ready(function() {
			$('#sort').val('@(currentSortBy)')
	  		$('#order').val('@(currentOrder)')
	  		$('#sort').change(function() {
				$('form').submit();
	  		});
	  		$('#order').change(function() {
	 			$('form').submit();
	  		});
			$('#reset').click(function() { 
				$('.search-field').each(function() {
					$(this).attr('value', ''); 
				});
			});
			if ($('.max-viewable-reached').attr('class') != undefined) {
				$('#max-view-reached').removeClass('hide');
			}
			
			function facetToggle($element, $button) {
				if ($element.attr('checked') !== undefined) {
					$button.removeClass('facet-deselected');
					$button.addClass('facet-selected');
				} else {
					$button.removeClass('facet-selected');
					$button.addClass('facet-deselected');
				}
			}
			
			function facetClickToggle($button, $element) {
				if ($button.hasClass('facet-deselected')) {
					// SELECTED
					$button.removeClass('facet-deselected');
					$button.addClass('facet-selected');
					$element.attr('checked', '');
				} else {
					// DESELECTED
					$button.removeClass('facet-selected');
					$button.addClass('facet-deselected');
					$element.removeAttr('checked');
				}
			}
			
			$(".add-more-button").each(function(index) {
				$(this).click(function(event) {
					event.preventDefault();
					var addMoreSelector = "#add-more-option-" + index;
					var buttonText = "#add-more-button-text-" + index;
					if ($(addMoreSelector).hasClass('hide')) {
						$(addMoreSelector).removeClass('hide');
						$(buttonText).html("REMOVE")
					} else {
						$(addMoreSelector).addClass('hide');
						$(buttonText).html("ADD")
					}
				});
			});

			$(".facet-options").each(function(index) {
				// check form fields
				var $input_include = $(this).find('input.include');
				var $input_exclude = $(this).find('input.exclude');

				var $link_span_include = $(this).find('a.facet.include span');
				var $link_span_exclude = $(this).find('a.facet.exclude span');

				// to read back facet options after submit
				facetToggle($input_include, $link_span_include);
				facetToggle($input_exclude, $link_span_exclude);

				// for clicking on facet options (includes)
				$(this).find('a.facet.include').click(function(event) {
					event.preventDefault();
					// change +/-
					facetClickToggle($link_span_include, $input_include);
		 			$('form').submit();
				});
				
				// for clicking on facet options (excludes)
				$(this).find('a.facet.exclude').click(function(event) {
					event.preventDefault();
					facetClickToggle($link_span_exclude, $input_exclude);
		 			$('form').submit();
				});
			});
			
			// read in what was submitted
			$facet_sort_input = $('#facet-sort');
			$link_sort_count = $('a#facet-sort-count').find('span.label');
			$link_sort_value = $('a#facet-sort-value').find('span.label');

			if ($facet_sort_input.attr('checked') === undefined) {
				$("a.facet-sort").each(function(index) {
					// unchecked then reset all buttons
					var $link_span = $(this).find('span.label');
					$link_span.removeClass('label-success');
					$link_span.addClass('label-primary');
				});
			} else {
				if ($facet_sort_input.val() == 'count') {
					$link_sort_count.removeClass('label-primary');
					$link_sort_count.addClass('label-success');
				} else if ($facet_sort_input.val() == 'index') {
					$link_sort_value.removeClass('label-primary');
					$link_sort_value.addClass('label-success');
				}
			}

			// on clicks
			$("a.facet-sort").each(function(index) {
				var $link_span = $(this).find('span.label');
				$(this).click(function(event) {
					event.preventDefault();
					if ($link_span.hasClass('label-primary')) {
						// SELECTED
						$link_span.removeClass('label-primary');
						$link_span.addClass('label-success');
						if ($link_span.text() == 'count') {
							$facet_sort_input.val("count");
						} else if ($link_span.text() == 'value') {
							$facet_sort_input.val("index");
						}
						$facet_sort_input.attr("checked", "checked");
					} else {
						// DESELECTED
						$link_span.removeClass('label-success');
						$link_span.addClass('label-primary');
						$facet_sort_input.val("");
						$facet_sort_input.removeAttr("checked");
					}
		 			$('form').submit();
				});
				
			});
		});
	</script>
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(pageNo:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Application.search(q.query, pageNo, sortBy, order)
}

@pagination = {
	<div class="text-center">
		<ul class="pagination">
			@if(currentPage.hasPreviousPage) {
            	<li class="prev">
            		<a href="@link(currentPage.getCurrentPage-1, null)@(q.facetParameters)">&laquo;</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&laquo;</a>
                </li>
            }
			@for(index <- currentPage.getPagesList) {
				@if(index == currentPage.getCurrentPage) {
					@if(index == currentPage.getMaxViewablePages) {
						<span class="max-viewable-reached hide"></span>
					}
					<li class="active current"><a href="#">@(index) <span class="sr-only">(current)</span></a></li>
				} else {
					<li><a href="@link(index, null)@(q.facetParameters)">@(index)</a></li>
				}
			}
        	@if(currentPage.hasNextPage && !currentPage.hasMaxViewablePagedReached) {
                <li class="next">
                    <a href="@link(currentPage.getCurrentPage+1, null)@(q.facetParameters)">&raquo;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a>&raquo;</a>
                </li>
			}
		</ul>
	</div>
}

@main(q.query, scripts) {

	<ul class="nav nav-tabs">
		<li class="active"><a href="#">Search</a></li>
		<li><a href="@routes.Application.advanced_search()">Advanced Search</a></li>
	</ul>

	<div class="padding-20">
		@helper.form(action=routes.Application.search()) {
	
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="panel panel-default">
						<input id="facet-sort" class="hide" type="checkbox" name="facet.sort" value="@(q.getFacetSortValue("facet.sort"))" @(q.getCheckedFacet("facet.sort")) />
						<div class="padding-5 pull-right">
							<a id="facet-sort-value" class="facet-sort" href="#"><span class="label label-primary">value</span></a>
							<a id="facet-sort-count" class="facet-sort" href="#"><span class="label label-primary">count</span></a> 
						</div>
						@for((fc, index) <- q.res.getFacetFields().zipWithIndex) {
							<div class="panel-body">
			    				<div>
		        					<a href="#expand-@(index)">
		          						<strong>@(fc.getName())</strong>
		        					</a> <span class="badge">@(fc.getValueCount())</span>
			    				</div>
			    				<div class="facet-index">
		      						<ul class="list-unstyled">
										@for((f, i) <- fc.getValues().zipWithIndex) {
		        							<li class="facet-options">
		        								<a class="facet include" href="" title="Include" id="include_@(fc.getName())"><span class="glyphicon glyphicon-plus-sign facet-deselected"></span></a>
		        								<a class="facet exclude" href="" title="Exclude" id="exclude_@(fc.getName())"><span class="glyphicon glyphicon-minus-sign facet-deselected"></span></a>
		          								<a href="@(routes.Application.search(q.query))@(q.getParamsPlusFilter(fc.getName(),f.getName()))">@(Html(q.formatFacet(fc,f))) <span class="badge">@(f.getCount())</span></a>
		          								<input class="include hide" type="checkbox" name="facet.in.@(fc.getName())" value='"@(f.getName())"' @(q.getCheckedInString(fc.getName(),f.getName())) onclick="this.form.submit();"/>
		          								<input class="exclude hide" type="checkbox" name="facet.out.@(fc.getName())" value='"@(f.getName())"' @(q.getCheckedOutString(fc.getName(),f.getName())) onclick="this.form.submit();"/>
											</li>
									        <!-- dynamically add checked="true"? -->
									        <!-- OR use some kind of link constructor? -->
										}
										<li> 
        									<a href="#"><span class="glyphicon glyphicon-plus-sign"></span> <span>Show more...</span></a>
        								</li>
										<li>
        									<button class="btn btn-primary btn-xs add-more-button" type="button"><span id="add-more-button-text-@(index)">ADD</span> <span class="glyphicon glyphicon-plus"></span></button>
										</li>
		    						</ul>
									<div id="add-more-option-@(index)" class="input-group hide">
										<span class="input-group-btn">
        									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      									</span>
										<input type="text" class="form-control" value="This form should pop-up when the plus is pressed.">
										<span class="input-group-addon"><a href="#" title="Include"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;<a href="#" title="Exclude"><span class="glyphicon glyphicon-minus-sign"></span></span>
									</div>
			    				</div>
			  				</div>
						}
					</div>
					
                    <div class="panel-group" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                            Current Filters
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                            <ul>
                                @for(f <- q.filters.keySet()) {
                                    @for( v <- q.filters.get(f)) {
                                        <li>@f @v</li>
                                    }
                                }
                            </ul>
                                    
                                        <ul>
                                                <li>
                                                </li>
                                                <!-- dynamically add checked="true"? -->
                                                <!-- OR use some kind of link constructor? -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
				</div>
		
				<div class="col-md-8 col-sm-8">
					<div class="panel panel-default">
						<div class="panel-body">
				   			<div class="input-group">
								<input type="text" class="form-control search-field" name="query" value="@(q.query)" id="query" />
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary" id="search" name="action" value="search">Search</button>
									<button type="reset" class="btn btn-primary" id="reset" name="action" value="reset">Reset</button>
								</span>
							</div>
						</div>
					</div>
					
					<div class="padding-20 hide" id="max-view-reached">
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							Maximum number of results reached
						</div>
					</div>
								
					<div class="panel panel-default">
						<div class="panel-heading filter-heading">
                            <h4 class="panel-title pull-left filter-heading-title">
                                Results @currentPage.getDisplayXtoYofZ(" to "," of ")
                            </h4>
                            <div class="form-inline pull-right">
								<div class="form-group">
									<select class="form-control" name="sort" id="sort">
										<option value="content_type_norm">Title</option>
										<option value="crawl_date">Crawl Date</option>
										<option value="content_type_norm">Content</option>
										<option value="domain">Domain</option>
										<option value="sentiment_score">Score</option>
									</select>
								</div>
								<div class="form-group">
									<select class="form-control" name="order" id="order">
										<option value="asc">Asc</option>
										<option value="desc">Desc</option>
									</select>
								</div>
							</div>
						</div>

						<div class="panel-body">
							@pagination
	
							@for((d, index) <- q.res.getResults().zipWithIndex) {
								<div class="list-group">
									<span class="list-group-item" href="#">
										<h4 class="list-group-item-heading">@(currentPage.getNextIndex(index)) <a href="http://web.archive.org/web/@(d.getFirstValue("wayback_date"))/@(d.getFirstValue("url"))">"@d.getFirstValue("title")"</a></h4>
										<p class="list-group-item-text">
												@d.getFirstValue("crawl_date")<br />
												@d.getFirstValue("content_type_norm")<br />
												@d.getFirstValue("domain")<br />
												@d.getFirstValue("sentiment_score")
										</p>
									</span>
								</div>
							}
	
							@pagination
						</div>
					</div>

				</div>
			</div>
		}
	</div>
}
