<div id="facet-search-form" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-vertical-centered">
    	<div class="modal-content">
			<div class="modal-header">
				<button id="dismiss-facet-x" type="button" class="close">&times;</button>
				<h3 class="modal-title" id="modalTitle">Facet Search</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="search-facet-modal-form">
					<div class="form-group">
						<label for="searchFacet" class="col-sm-2 control-label">Name</label>
					    <div class="col-sm-10">
							<input type="text" name="searchFacet" id="searchFacet" class="form-control">
					    </div>
					</div>
				 </form>
			</div>
			<div class="modal-footer">
				<button type="button" id="facet-search-close" class="btn" data-dismiss="modal">Close</button>
				<button type="button" id="facet-search-button" class="btn btn-primary">Search</button>
			</div>
		</div>
	</div>
</div>
