@(level: String = "search")(implicit shineConfig: play.api.Configuration)

<ul class="nav nav-tabs">

@level match {
    
  case "search" => {
  	<li class="active"><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
    <li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
    <li><a href="@routes.Application.searchTips()">Search Tips</a></li>
	@if(shineConfig.getBoolean("show_browse").getOrElse(false)) {
		<li><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(shineConfig.getBoolean("show_concordance").getOrElse(false)) {
		<li><a href="@routes.Search.concordance()">Concordance View</a></li>
	}
  }

  case "advanced_search" => {
  	<li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
	<li class="active"><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
    <li><a href="@routes.Application.searchTips()">Search Tips</a></li>
	@if(shineConfig.getBoolean("show_browse").getOrElse(false)) {
		<li><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(shineConfig.getBoolean("show_concordance").getOrElse(false)) {
		<li><a href="@routes.Search.concordance()">Concordance View</a></li>
	}
  }
  
  case "search_tips" => {
    <li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
    <li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
    <li class="active"><a href="@routes.Application.searchTips()">Search Tips</a></li>
    @if(shineConfig.getBoolean("show_browse").getOrElse(false)) {
        <li><a href="@routes.Search.browse()">Browse Collections</a></li>
    }
    @if(shineConfig.getBoolean("show_concordance").getOrElse(false)) {
        <li><a href="@routes.Search.concordance()">Concordance View</a></li>
    }
  }

  case "browse" => {
  	<li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
	<li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
	@if(shineConfig.getBoolean("show_browse").getOrElse(false)) {
		<li class="active"><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(shineConfig.getBoolean("show_concordance").getOrElse(false)) {
		<li><a href="@routes.Search.concordance()">Concordance View</a></li>
  	}
  }
  
  case "concordance" => {
  	<li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
	<li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
	@if(shineConfig.getBoolean("show_browse").getOrElse(false)) {
		<li><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(shineConfig.getBoolean("show_concordance").getOrElse(false)) {
		<li class="active"><a href="@routes.Search.concordance()">Concordance View</a></li>
	}
  }
}

</ul>