@(q: uk.bl.wa.shine.Query, currentPage: uk.bl.wa.shine.Pagination, currentSortBy: String, currentOrder: String)

@scripts = {
	<script type="text/javascript">
		$(document).ready(function() {
	      		var last=$.cookie('activeAccordionGroup');
	      		if (last != undefined) {
				//remove default collapse settings
	          		$("#accordion .collapse").removeClass('in');
	          		//show the last visible group
	          		$("#"+last).collapse("show");
	      		}
		});
	    //when a group is shown, save it as the active accordion group
	    $("#accordion").bind('shown.bs.collapse', function() {
	        var active=$("#accordion .in").attr('id');
	        $.cookie('activeAccordionGroup', active)
	    });
	</script>
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(pageNo:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
        
    // Generate the link
    routes.Application.search(q.query, pageNo, sortBy, order)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@sort_links(key:String, title:String) = {
	<a href="@link(1, key)" class="btn btn-primary">@title
		<span class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "glyphicon glyphicon-chevron-down" else "glyphicon glyphicon-chevron-up"}"></span>
	</a>
}

@pagination = {
	<div class="text-center">
		<ul class="pagination">
			@if(currentPage.hasPreviousPage) {
            	<li class="prev">
            		<a href="@link(currentPage.getCurrentPage-1, null)">&laquo;</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&laquo;</a>
                </li>
            }
			@for(index <- 1 until currentPage.getTotalPages+1){
				@if(index == currentPage.getCurrentPage) {
					<li class="active current"><a href="@link(index, null)">@index <span class="sr-only">(current)</span></a></li>
				} else {
					<li><a href="@link(index, null)">@index </a></li>
				}
			}
        	@if(currentPage.hasNextPage) {
                <li class="next">
                    <a href="@link(currentPage.getCurrentPage+1, null)">&raquo;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a>&raquo;</a>
                </li>
			}
		</ul>
	</div>
}

@main(q.query, scripts) {

	<ul class="nav nav-tabs">
		<li class="active"><a href="#">Search</a></li>
		<li><a href="@routes.Application.advanced_search()">Advanced Search</a></li>
	</ul>

	<div class="padding-20">

		@helper.form(action=routes.Application.search()) {
	
			<div class="row">
				<div class="col-md-3">
					<div class="panel-group" id="accordion">
						@for(fc <- q.res.getFacetFields()) {
			  				<div class="panel panel-default">
			    				<div class="panel-heading">
			      					<h4 class="panel-title">
			        					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-@(fc.getName())">
			          						@(fc.getName()) (@(fc.getValueCount()))
			        					</a>
			      					</h4>
			    				</div>
			    				<div id="collapse-@(fc.getName())" class="panel-collapse collapse">
			      					<div class="panel-body">
			      						<ul>
			    							@for(f <- fc.getValues() ) {
			        							<li>
			          								<input type="checkbox" name="facet.in.@(fc.getName())" value='"@(f.getName())"' @(q.getCheckedInString(fc.getName(),f.getName())) onclick="this.form.submit();"/>
			          								<a href="@(routes.Application.search(q.query))@(q.getParamsPlusFilter(fc.getName(),f.getName()))">@(Html(q.formatFacet(fc,f))) (@(f.getCount()))</a>
			          								<input type="checkbox" name="facet.out.@(fc.getName())" value='"@(f.getName())"' @(q.getCheckedOutString(fc.getName(),f.getName())) onclick="this.form.submit();"/>
			        							</li>
										        <!-- dynamically add checked="true"? -->
										        <!-- OR use some kind of link constructor? -->
											} 
			    						</ul>
			      					</div>
			    				</div>
			  				</div>
						}
					</div>
				</div>
		
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4>Query</h4>
				   			<div class="input-group">
				   			    <span class="input-group-addon">
	        						<input type="checkbox" >
	      						</span>
								<input type="hidden" name="sort" value="@(currentSortBy)" />
								<input type="hidden" name="order" value="@(currentOrder)" />
								<input type="text" class="form-control" name="query" value="@(q.query)" />
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary" id="search" name="action" value="search">Search</button>
									<button type="reset" class="btn btn-primary" id="reset" name="action" value="reset">Reset</button>
								</span>
							</div>					
							
							<h4>Filters</h4>
							<ul>
								@for(f <- q.filters.keySet()) {
				    				@for( v <- q.filters.get(f)) {
				        				<li>@f @v</li>
				    				}
								}
							</ul>
						</div>
					</div>
			
					<div class="panel panel-default">
						<div class="panel-heading">
					    	<h4 class="panel-title">
					    		Results @currentPage.getDisplayXtoYofZ(" to "," of ")
							</h4>
						</div>
						
						<div id="search-sorting-buttons" class="text-center padding-20">
							<div class="btn-group btn-group-sm">
								@sort_links("content_type_norm", "Title")
								@sort_links("crawl_date", "Crawl Date")
								@sort_links("content_type_norm", "Content")
								@sort_links("domain", "Domain")
								@sort_links("sentiment_score", "Score")
							</div>
						</div>
						
						<div class="panel-body">
							@pagination
	
							@for((d, index) <- q.res.getResults().zipWithIndex) {
								<div class="list-group">
									<span class="list-group-item" href="#">
										<h4 class="list-group-item-heading">@(currentPage.getNextIndex(index)) <a href="http://web.archive.org/web/@(d.getFirstValue("wayback_date"))/@(d.getFirstValue("url"))">"@d.getFirstValue("title")"</a></h4>
										<p class="list-group-item-text">
												@d.getFirstValue("crawl_date")<br />
												@d.getFirstValue("content_type_norm")<br />
												@d.getFirstValue("domain")<br />
												@d.getFirstValue("sentiment_score")
										</p>
									</span>
								</div>
							}
	
							@pagination
						</div>
					</div>
				</div>
		
				<div class="col-md-3">
					<div class="panel-group" id="accordion">
			  				<div class="panel panel-default">
			    				<div class="panel-heading">
			      					<h4 class="panel-title">
			        					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#">
											Filters
			        					</a>
			      					</h4>
			    				</div>
			    				<div id="collapse" class="panel-collapse collapse">
			      					<div class="panel-body">
			      						<ul>
			        							<li>
			        							</li>
										        <!-- dynamically add checked="true"? -->
										        <!-- OR use some kind of link constructor? -->
			    						</ul>
			      					</div>
			    				</div>
			  				</div>
					</div>
				</div>
			</div>
		}
	</div>
}
