@(title: String, user: User, q: uk.bl.wa.shine.Query, currentPage: uk.bl.wa.shine.Pagination, currentSortBy: String, currentOrder: String, facetLimit: Int, optionalFacets: Map[String, uk.bl.wa.shine.model.FacetValue], cachedFacets: Map[String, uk.bl.wa.shine.model.FacetValue], pageName: String, searchForm: Form[SearchData], sortableFacets: List[Object], corpora: List[Corpus])(implicit messages: Messages, configuration: play.Configuration, configHelper: utils.ConfigHelper)

@import helper._
@import bootstrap.search._
@import results._

@implicitFieldConstructor = @{FieldConstructor(searchInput.f)}

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/typeahead.css")">
}

@scripts = {
	<script src="@routes.Assets.at("javascripts/tooltip.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			
			@if(currentSortBy == null || currentSortBy.isEmpty) {
				$('#sort').val('crawl_date');
			} else {
				$('#sort').val('@(currentSortBy)');
			}
	  		$('#order').val('@(currentOrder)');

	  		$('#current-url').text(window.location.search);
	  		
			$('#export-message').addClass('hide');
			
	  		// if facet.show=crawl_year
	  		var facetShow = getURLParameter("facet.show");
	  		if (facetShow) {
				var array = facetShow.split(",");
				array.forEach(function(value) {
					var link = 'a#' + value;
					//console.log(">>> " + link);
					$(link).trigger("click");
				});
	  			
	  		}
	  		
			$('#ajax-loader').hide();

			function disableForm() {
				$('#ajax-loader').show();
				$('#query').attr('disabled', 'disabled');
				$('#search').attr('disabled', 'disabled');
				$('#reset').attr('disabled', 'disabled');
			}
			
			function enableForm() {
				$('#ajax-loader').hide();
				$('#query').removeAttr('disabled');
				$('#search').removeAttr('disabled');
				$('#reset').removeAttr('disabled');
			}

			function getUrl() {
				return "/search?facet.sort=index&query=" + $("#query").val();
			}

			$("#search-menu li").on("click", function(event){
				event.preventDefault();
				var dropdown = $('#search-dropdown');
				dropdown.html($(this).text() + " <span class='caret'></span>");
				var mode = $(this).attr('id');
				$('#modeValue').val(mode);
			});
			
			var sample = 'Sample Mode';
			var full = 'Full Mode';
			
			//read back in the search mode
			var mode = getURLParameter('mode');
			var dropdown = $('#search-dropdown');
			if (mode) {
				$('#modeValue').val(mode);
				if (mode == 'sample') {
					dropdown.html(sample + " <span class='caret'></span>");
				} else {
					dropdown.html(full + " <span class='caret'></span>");
				}
			} else {
				$('#modeValue').val('');
				dropdown.html(sample + " <span class='caret'></span>");
			}
			
			$('#search').on('click', function() {
				doSearch();
			});
			
			function doSearch() {
				if ($('#search-form').valid()) {
					if ($('#addFacet').val() == "") {
						$('#addFacet').prop("disabled", true);
					}
					if ($('#modeValue').val() == "") {
						$('#modeValue').prop("disabled", true);
					}
					if ($('#tab').val() == "") {
						$('#tab').prop("disabled", true);
					}
					
					processSelectedResources();
				    $('#action').val('search');

					modalLoader();
				    // add to parameters then submit
				    // &facet.fields=postcode_district
				    
					$('#search-form').submit();
				}

			}
			
			function buildDefaultFacets() {
			    var crawl_year = $("<input>")
	       			.attr("type", "hidden")
	       			.attr("name", "facet.fields").val("crawl_year");
				
			    var public_suffix = $("<input>")
	       			.attr("type", "hidden")
	       			.attr("name", "facet.fields").val("public_suffix");
			    
			    $('#search-form').append($(crawl_year)).append($(public_suffix));
			}
			
			function createSummary() {
				
				var query = $('<li class="summary-li">').html("Search Term(s): " + $("#query").val());
				var line = "";
				$('#search-summary').append(query);
				
				$('ul.facet-heading').each(function(index) {
					
					// check form fields
					var facet_options = $(this).find('li.facet-options');
					
					var total = facet_options.length;

					var facet_main = $(this).parent().parent().find('div.facet-main');
					var name = "";
					var values = "";
					var facetValue = facet_main.find('input[type=hidden]:first').val();
					var invert = facet_main.find('input[type=hidden]:last').val();
					
					console.log(facetValue + "/" + facetValue.length + " - " + invert + "/" + invert.length);
					
					// +/-
					facet_options.each(function(index) {
						if (name.length == 0) {
							name = facet_main.find('a strong').html();
							//console.log(name);
							// inverted
							if (facetValue != '' && invert != '' && facetValue == invert) {
								line = name + ": (Exclude) ";
							} else {
								line = name + ": (Include) ";
							}
						}
						var facet_option = $(this);
						
						var include = facet_option.find('input.include');
						var exclude = facet_option.find('input.exclude');

						if (include.attr('checked')) {
							var value = include.val();
							values += value + " ";
						}
						if (exclude.attr('checked')) {
							var value = exclude.val();
							values += value + " ";
						}
					    if (index === total - 1 && values.length > 0) {
					    	line += values;
							summary = $('<li class="summary-li">').html(line);
							$('#search-summary').append(summary);
					    }

					});
				});
				
				createSummaryExclusions();

			}

			function actionButtons() {
				$('.excludeButton').on('click', function(event) {
					event.preventDefault();
					console.log('exclude');
					$('input.resource').each(function() {
						$(this).attr('name', 'exclude');
					});
					doSearch();
				});
				$('.excludeHostButton').on('click', function(event) {
					event.preventDefault();
					console.log('exclude host');
					$('input.resource').each(function() {
						var host = $(this).attr('host');
						$(this).val(host);
						$(this).attr('name', 'excludeHost');
					});
					doSearch();
				});
			}
			
			resetFacets();
			searchTabs();
			facetOptions();
			showFacets();
			saveSearch();
			saveCorpus();
			validateSearchForm();
			applyInverts();
			csvLink();
			createSummary();
			resetExcluded();
			actionButtons();
			applyShowMoreLinks();
		});
	</script>
}

@main(title, styles, scripts, user, pageName) {

	@searchTabs("search")

	<div class="padding-20">

		@helper.form(action=routes.Search.search(), 'id -> "search-form") {
	
			<div class="row">
				@if(q != null) {
					<div class="col-md-4 col-sm-4">
						@facets(user, q, currentPage, facetLimit, optionalFacets, cachedFacets, sortableFacets, corpora)
					</div>
			
					<div class="col-md-8 col-sm-8">
						<div class="panel panel-default">
							<div class="panel-body">
					   			<div class="input-group">
					   				<div class="input-group-btn">
								        <button type="button" class="btn btn-primary dropdown-toggle search-dropdown" data-toggle="dropdown" aria-expanded="false" id="search-dropdown">Sample Mode <span class="caret"></span></button>
								        <ul class="dropdown-menu" role="menu" id="search-menu">
											<li id="sample"><a href="#">Sample Mode</a></li>
											<li id="full"><a href="#">Full Mode</a></li>
										</ul>
							      	</div><!-- /btn-group -->			
					   				@inputText(searchForm("query"), 'id -> "query", 'placeholder -> "Enter search term", 'class -> "form-control search-field")
					   				<input type="hidden" name="tab" value="results" id="tab" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-primary" id="search" name="action" value="search">Search</button>
										<button type="reset" class="btn btn-primary" id="reset" name="action" value="reset">Reset</button>
										@if(user != null && q != null) {
											<button type="button" class="btn btn-primary" id="save-search" name="action" value="save">Save Search</button>
										}
										<!-- <img id="ajax-loader" src="assets/images/ajax-loader.gif">  -->
									</span>
								</div>
								<div id="errorBox"></div>
							</div>
						</div>
	
						<div class="padding-20" id="summary">
							<div class="alert alert-info">
								<ul id="search-summary">
								</ul>
							</div>
							<div class="alert alert-danger alert-dismissible" id="export-message" role="alert">
								<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							</div>
						</div>					
	
						<div class="padding-20 hide" id="max-view-reached">
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								Maximum number of results reached
							</div>
						</div>

						<input type="hidden" name="totalCount" value="totalCount" id="totalCount" />
						@resultsTabs("results")
						
									
						<div class="padding-20">
							<div id="results">@resultsPage(user, q, currentPage, currentSortBy, currentOrder)</div>
							<div id="concordance">@concordancePage(user, q, currentPage, currentSortBy, currentOrder)</div>
						</div>	
					</div>
				} else {
					<div class="col-md-12 col-sm12">
						<div class="panel panel-default">
							<div class="panel-body">
					   			<div class="input-group">
					   				<div class="input-group-btn">
								        <button type="button" class="btn btn-primary dropdown-toggle search-dropdown" data-toggle="dropdown" aria-expanded="false" id="search-dropdown">Sample Mode <span class="caret"></span></button>
								        <ul class="dropdown-menu" role="menu" id="search-menu">
											<li id="sample"><a href="#">Sample Mode</a></li>
											<li id="full"><a href="#">Full Mode</a></li>
										</ul>
							      	</div><!-- /btn-group -->			
<!--  									<span class="input-group-btn">
										<button type="button" class="btn btn-primary" id="mode" name="action" value="mode">Normal Mode</button>
									</span>-->
					   				@inputText(searchForm("query"), 'id -> "query", 'placeholder -> "Enter search term", 'class -> "form-control search-field")
					   				<input type="hidden" name="tab" value="results" id="tab" />
									<span class="input-group-btn">
										<button id="search" type="button" class="btn btn-primary" name="action" value="search">Search</button>
										<button type="reset" class="btn btn-primary" id="reset" name="action" value="reset">Reset</button>
										<!-- <img id="ajax-loader" src="assets/images/ajax-loader.gif">  -->
									</span>
								</div>
								<input type="hidden" name="action" value="" id="action" />
								<div id="errorBox"></div>
							</div>
						</div>
					</div>
				}
			</div>
			<input type="hidden" name="mode" value="sample" id="modeValue" />
		}
	</div>
	<input type="hidden" id="export_url" value="@routes.Search.export()">
	
	@saveSearchModal()
	@modalLoader()
	@saveCorpusModal(corpora)	
	
}
