@(level: String = "search")(implicit configHelper: utils.ConfigHelper)

<ul class="nav nav-tabs">
 
@level match {
    
  case "search" => {
  	<li class="active"><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
    <li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
    <li><a href="@routes.Application.searchTips()">Search Tips</a></li>
	@if(configHelper.showOption("show_browse")) {
		<li><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(configHelper.showOption("show_concordance")) {
		<li><a href="@routes.Search.concordance()">Concordance View</a></li>
	}
  }

  case "advanced_search" => {
  	<li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
	<li class="active"><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
    <li><a href="@routes.Application.searchTips()">Search Tips</a></li>
	@if(configHelper.showOption("show_browse")) {
		<li><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(configHelper.showOption("show_concordance")) {
		<li><a href="@routes.Search.concordance()">Concordance View</a></li>
	}
  }
  
  case "search_tips" => {
    <li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
    <li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
    <li class="active"><a href="@routes.Application.searchTips()">Search Tips</a></li>
    @if(configHelper.showOption("show_browse")) {
        <li><a href="@routes.Search.browse()">Browse Collections</a></li>
    }
    @if(configHelper.showOption("show_concordance")) {
        <li><a href="@routes.Search.concordance()">Concordance View</a></li>
    }
  }

  case "browse" => {
  	<li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
	<li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
	@if(configHelper.showOption("show_browse")) {
		<li class="active"><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(configHelper.showOption("show_concordance")) {
		<li><a href="@routes.Search.concordance()">Concordance View</a></li>
  	}
  }
  
  case "concordance" => {
  	<li><a href="@routes.Search.search()?facet.sort=index&tab=results">Search</a></li>
	<li><a href="@routes.Search.advanced_search()">Advanced Search</a></li>
	@if(configHelper.showOption("show_browse")) {
		<li><a href="@routes.Search.browse()">Browse Collections</a></li>
	}
	@if(configHelper.showOption("show_concordance")) {
		<li class="active"><a href="@routes.Search.concordance()">Concordance View</a></li>
	}
  }
}

</ul>