@(netarchiveDoc: NetarchiveDoc, user: User)

@main(netarchiveDoc.getTitle, null, null, user) {
	<div class="padding-20">
		<div class="row">
			<div class="col-md-12 col-sm12">
				<h1>@netarchiveDoc.getTitle</h1>
				<table class="table">
					<tr>
						<td>Arc full</td>
						<td>@netarchiveDoc.getArc_full</td>
					</tr>
					<tr>
						<td>Arc harvest</td>
						<td>@netarchiveDoc.getArc_harvest</td>
					</tr>
					<tr>
					<td>Arc harvest time</td>
					<td>@netarchiveDoc.getArc_harvesttime</td>
					</tr>
					<tr>
						<td>Arc job</td>
						<td>@netarchiveDoc.getArc_job</td>
					</tr>
					<tr>
						<td>Author</td>
						<td>@netarchiveDoc.getAuthor</td>
					</tr>
					<tr>
						<td>Content Language</td>
						<td>@netarchiveDoc.getContentLanguage</td>
					</tr>
						<!-- Field content_length always 0. Will be fixed in future version after next reindex. (late 2017 maybe...)-->
					<tr>
						<td>Content Type</td>
						<td>@netarchiveDoc.getContentType</td>
					</tr>
					<tr>
						<td>Content Type Ext</td>
						<td>@netarchiveDoc.getContent_type_ext</td>
					</tr>
					<tr>
						<td>Content Type Served</td>
						<td>@netarchiveDoc.getContent_type_served</td>
					</tr>
					<tr>
						<td>Content Type Droid</td>
						<td>@netarchiveDoc.getContent_type_droid</td>
					</tr>
					<tr>
						<td>Content Type Tika</td>
						<td>@netarchiveDoc.getContent_type_tika</td>
					</tr>
					<tr>
						<td>Content Type Full</td>
						<td>@netarchiveDoc.getContent_type_full</td>
					</tr>
					<tr>
						<td>Content Type Version</td>
						<td>@netarchiveDoc.getContent_type_version</td>
					</tr>
					<tr>
						<td>Crawl Date</td>
						<td>@netarchiveDoc.getCrawlDate</td>
					</tr>
					<tr>
						<td>Description</td>
						<td>@netarchiveDoc.getDescription</td>
					</tr>
					<tr>
						<td>Domain</td>
						<td>@netarchiveDoc.getDomain</td>
					</tr>
					<tr>
						<td>Generator</td>
						<td>@netarchiveDoc.getGenerator</td>
					</tr>
					<tr>
						<td>Hash</td>
						<td>@netarchiveDoc.getHash</td>
					</tr>
					<tr>
						<td>Host</td>
						<td>@netarchiveDoc.getHost</td>
					</tr>
					<tr>
						<td>Id</td>
						<td>@netarchiveDoc.getId</td>
					</tr>
					<tr>
						<td>Keywords</td>
						<td>@netarchiveDoc.getKeywords</td>
					</tr>
					<tr>
						<td>Last Modified</td>
						<td>@netarchiveDoc.getLast_modified</td>
					</tr>
					<tr>
						<td>Last Modified Year</td>
						<td>@netarchiveDoc.getLast_modified_year</td>
					</tr>
					<tr>
						<td>License Url</td>
						<td>@netarchiveDoc.getLicenseUrl</td>
					</tr>
					<tr>
						<td>Parse error</td>
						<td>@netarchiveDoc.getParseError</td>
					</tr>
					<tr>
						<td>Public Suffixes</td>
						<td>@netarchiveDoc.getPublicSuffix</td>
					</tr>
					<tr>
						<td>Server</td>
						<td>@netarchiveDoc.getServer</td>
					</tr>
					<tr>
						<td>Source Files</td>
						<td>@netarchiveDoc.getSource_file_s</td>
					</tr>
					<tr>
						<td>Title</td>
						<td>@netarchiveDoc.getTitle</td>
					</tr>
					<tr>
						<td>Url</td>
						<td>@netarchiveDoc.getUrl</td>
					</tr>
					<tr>
						<td>Url Norm</td>
						<td>@netarchiveDoc.getUrl_norm</td>
					</tr>
					<tr>
						<td>Wayback Date</td>
						<td>@netarchiveDoc.getWaybackDate</td>
					</tr>
					<tr>
						<td>Year</td>
						<td>@netarchiveDoc.getYear</td>
					</tr>
					<tr>
						<td>Content</td>
						<td>@netarchiveDoc.getContent</td>
					</tr>
				</table>
			</div>
		</div>
		<input type="hidden" name="mode" value="sample" id="modeValue" />
	</div>
	<input type="hidden" id="export_url" value="@routes.Search.export()">
}
