@(netarchiveDoc: NetarchiveDoc, user: User)

@main(netarchiveDoc.getTitle, null, null) {
	<div class="padding-20">
		<div class="row">
			<div class="col-md-12 col-sm12">
				<h1>@netarchiveDoc.getTitle</h1>
				<table class="table">
					<tr>
						<td>Author</td>
						<td>@netarchiveDoc.getAuthor</td>
					</tr>
					<tr>
						<td>Content Language</td>
						<td>@netarchiveDoc.getContentLanguage</td>
					</tr>
					<tr>
						<td>Content Text Length</td>
						<td>@netarchiveDoc.getContentTextLength</td>
					</tr>
					<tr>
						<td>Content Type</td>
						<td>@netarchiveDoc.getContentType</td>
					</tr>
					<tr>
						<td>Crawl Date</td>
						<td>@netarchiveDoc.getCrawlDate</td>
					</tr>
					<tr>
						<td>Description</td>
						<td>@netarchiveDoc.getDescription</td>
					</tr>
					<tr>
						<td>Domain</td>
						<td>@netarchiveDoc.getDomain</td>
					</tr>
					<tr>
						<td>Elements Used</td>
						<td>@netarchiveDoc.getElementsUsed</td>
					</tr>
					<tr>
						<td>Host</td>
						<td>@netarchiveDoc.getHost</td>
					</tr>
					<tr>
						<td>Id</td>
						<td>@netarchiveDoc.getId</td>
					</tr>
					<tr>
						<td>Keywords</td>
						<td>@netarchiveDoc.getKeywords</td>
					</tr>
					<tr>
						<td>Links Domains</td>
						<td>@netarchiveDoc.getLinksDomains</td>
					</tr>
					<tr>
						<td>Links Host</td>
						<td>@netarchiveDoc.getLinksHost</td>
					</tr>
					<tr>
						<td>Links Public Suffixes</td>
						<td>@netarchiveDoc.getLinksPublicSuffixes</td>
					</tr>
					<tr>
						<td>Public Suffixes</td>
						<td>@netarchiveDoc.getPublicSuffix</td>
					</tr>
					<tr>
						<td>Server</td>
						<td>@netarchiveDoc.getServer</td>
					</tr>
					<tr>
						<td>Source Files</td>
						<td>@netarchiveDoc.getSource_file_s</td>
					</tr>
					<tr>
						<td>Title</td>
						<td>@netarchiveDoc.getTitle</td>
					</tr>
					<tr>
						<td>Url</td>
						<td>@netarchiveDoc.getUrl</td>
					</tr>
					<tr>
						<td>Url Norm</td>
						<td>@netarchiveDoc.getUrl_norm</td>
					</tr>
					<tr>
						<td>Wayback Date</td>
						<td>@netarchiveDoc.getWaybackDate</td>
					</tr>
					<tr>
						<td>Year</td>
						<td>@netarchiveDoc.getYear</td>
					</tr>
					<tr>
						<td>Content</td>
						<td>@netarchiveDoc.getContent</td>
					</tr>
				</table>
			</div>
		</div>
		<input type="hidden" name="mode" value="sample" id="modeValue" />
	</div>
	<input type="hidden" id="export_url" value="@routes.Search.export()">
}
